@charset "utf-8";
/* CSS Document */

html, body {
	padding: 0;	
	margin: 0;
}

body {
	width: 320px;
	max-width: 320px;
	margin-left: auto;
	margin-right: auto; 
}
.headerbackground{
	background:#EE82EE; 
	height:45px
}
.headerfont{
	float:left; 
	margin:0; 
	width:86px; 
	padding:10px; 
	color:#B0E0E6;
	font-weight:bold
}
.header2background{
	background:#C0C0C0; 
	height:42px
}
.header2selected{
	float:left; 
	margin:0; 
	width:86px; 
	padding:10px; 
	background:#F5F5F5
}

.header2notselected{
	style="float:left; 
	margin:0;
	width:86px; 
	padding:10px; 
	border-right:2px solid #F5F5F5
}
.userphoto{
	float:right; 
	width:45px;
	height:45px
}
.backarrow{
	width:32px;
	height:24px;
	padding:8px
}
.contentbox{
	margin:0px auto; 
	width:100%;
	background:#C0C0C0; 
	height:42px
}
.wholecolumn{
	float:left; 
	margin:0; 
	width:300px;  
	padding:10px; 
	background:#F5F5F5; 
	border-bottom:2px solid #FFFFFF
}
.white{
	 background:#FFFFFF;
	 border-bottom:2px solid #F5F5F5
}
.columnaftericon{
	float:left; 
	margin:0; 
	width:255px; 
	padding:10px; 
	background:#FfFFFF; 
	border-bottom:2px solid #F5F5F5
}

.icon{
	float:left; 
	width:44px;
	height:44px
}
.smallfont{
	font-size:12px
}