/* General */
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 45px;
}

.body_tabs {
	padding-top: 85px;
	height: auto;
}

body, input, textarea {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #000000;
	text-decoration: none;
}

.clear {
	clear: both;
}

#loading_background {
	background-image: url('../images/loading.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

#coming_soon_bacground {
	background-image: url('../images/coming_soon.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/* Header */
#header {
	background: #5868e1;
	height: 45px;
	position: fixed;
	top: 0px;
	width: 100%;
	color: #B0E0E6;
	font-weight: bold;
	width: 100%;
}

.header_text {
	float: left;
	line-height: 45px;
	margin-left: 10px;
}

#back_image {
	width: 45px;
	height: 45px;
	float: left;
}

#userphoto {
	float: right;
	width: 45px;
	height: 45px
}

/* Navigation */
#tabs {
	background: #C0C0C0;
	height: 42px;
	position: fixed;
	width: 100%;
	position: fixed;
	top: 45px;
}

.tab {
	float: left;
	margin: 0;
	width: 33%;
	text-align: center;
	line-height: 42px;
}

#selected_tab {
	background: #F5F5F5;
}

.tab_separator {
	float: left;
	width: 0.5%;
	background: #FFFFFF;
	height: 45px;
}

#poi_tab {
	display: none;
}

.tab_leader {
	width: 24.625% !important;
}

/* Settings */
.settings_item {
	display: block;
	padding-left: 10px;
	height: 45px;
	line-height: 45px;
	background-color: #F5F5F5;
	padding-left: 10px;
}

.settings_item_white {
	background-color: #FFFFFF;
	padding-left: 20px;
}

/* Login */
#login_form {
	width: 200px;
	margin: 0 auto;
}

#login_form #name {
	width: 200px;
}

#login {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

#logo {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
	top: 100px;
}

/* Agenda */
#agenda_title {
	font-weight: bold;
	padding-left: 10px;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #C0C0C0;
}

.agenda_item {
	height: 45px;
	border-bottom: 1px solid #C0C0C0;
}

.agenda_item img {
	float: left;
	margin-right: 10px;
	height: 45px;
	width: 45px;
}

.agenda_item .agenda_item_text {
	float: left;
	line-height: 45px;
}

/* Chat */
.chat_item {
	border-bottom: 1px solid #C0C0C0;
}

.chat_item img {
	float: left;
}

.chat_item .chat_item_text {
	float: left;
	padding: 5px;
}

.chat_item .chat_item_person {
	overflow: hidden;
	color: #C0C0C0;
}

#chat_input {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: #F5F5F5;
	border-top: 2px solid #C0C0C0;
}

#chat_input .space {
	float: left;
	width: 1%;
	height: 70px;
	background-color: #C0C0C0;
}

#chat_input #text {
	float: left;
	width: 77%;
	height: 60px;
	border: 0;
	padding: 0;
	resize: none;
	float: left;
	padding: 5px 0 5px 0;
}

#chat_input #send {
	float: left;
	width: 20%;
	height: 70px;
	background: #F5F5F5;
	border: 0;
	padding: 0;
	text-align: center;
	line-height: 70px;
}

#chat_window {
	padding-bottom: 100px;
}